div.word-list {
    overflow: auto;
    padding: 0;
    margin: 1rem;
    box-shadow: 0 4px 8px #000;
    background: #ccc;
    min-width: 280px;
    max-height: 95vh;
}

div.word-list > div {
    margin: 0;
    display: block;
    width: 100%;
    min-width: 100%;
    background-repeat: repeat-y;
    background-position: 0 0;
    background-size: 263px 36px;
    background-image: url(./word-blur.jpg);
}

div.word-list > div.body {
    overflow: hidden;
}


div.word-list > div.space {
    font-size: 0;
    content: '.';
}

div.word-list-wait {
    text-align: center;
    display: flex;
    min-width: 280px;
    height: 280px;
    justify-content: center;
    align-items: center;
}
